@import "./variables.css";

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-family-base);
    font-size: var(--font-size-body-l);
    font-weight: var(--font-weight-regular);
    color: var(--color-text);
    background: linear-gradient(120deg, #f8fafc 0%, #dbeafe 50%, #a5b4fc 100%);
    line-height: var(--line-height-body-l);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
}
h1 {
    font-size: var(--font-size-title-xl);
    line-height: var(--line-height-title-xl);
}
h2 {
    font-size: var(--font-size-title-l);
    line-height: var(--line-height-title-l);
}
h3 {
    font-size: var(--font-size-title-m);
    line-height: var(--line-height-title-m);
}
h4 {
    font-size: var(--font-size-title-s);
    line-height: var(--line-height-title-s);
}
h5 {
    font-size: var(--font-size-subtitle-l);
    line-height: var(--line-height-subtitle-l);
}
h6 {
    font-size: var(--font-size-subtitle-m);
    line-height: var(--line-height-subtitle-m);
}

a {
    color: var(--color-primary);
    text-decoration: inherit;
    font-weight: var(--font-weight-medium);
}
a:hover {
    color: var(--color-primary-hover);
}
button {
    font-family: var(--font-family-base);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    border-radius: var(--button-radius);
    border: none;
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
    cursor: pointer;
    transition: background 0.2s, border 0.2s, color 0.2s;
}
button:hover:not(:disabled) {
    background-color: var(--button-primary-bg-hover);
}
button:focus,
button:focus-visible {
    outline: 2px solid var(--color-primary);
}
